html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
body {
    background-color:rgb(174, 186, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    height: auto;
    width: auto;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 127;

    background-color: rgba(0,0,0,.6);
    overflow: auto;
}
.popup.open {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 80vw;
    width: 500px;
    margin: 20px;
    padding: 20px;
    background: rgb(174, 186, 202);
}
body.popup-open {
    overflow: hidden;
}

.board {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    width: 30vw;
    height: 30vw;

    background: rgb(224, 226, 237);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 40px;
}

.cell {
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    outline: dashed;
    outline-offset: -1px;
    z-index: 2;

    font-size: x-small;
    background-color: rgb(193, 206, 223);
}

.cell.hole {
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.cell.movable:hover {
    background-color: green;
    cursor: pointer;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
}