html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
body {
    background-color:rgb(174, 186, 202);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    background: rgb(246, 244, 255);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 40px;
}
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
}