html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
body {
    background-color:rgb(174, 186, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    height: auto;
    width: auto;
}

.board {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    background: rgb(224, 226, 237);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 40px;
}

.cell {
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    outline: dashed;
    outline-offset: -1px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
}